/* -------------------------------------------   HOME PAGE   ------------------------------------------------------ */

/*      Yellow           -   rgb(255, 198, 112)       */
/*      Green            -   rgb(0, 75, 56)       */
/*      Green2 (lighter) -   rgb(0, 109, 82)       */
/*      Black            -   rgb(61, 61, 61)       */

  /* -------------------------------------------   HOME PAGE   ------------------------------------------------------ */

.App {
  text-align: center;
}
.pics {
  width: 100%;
  border-radius: 15px;
  margin-top: -10px;
}
.headerMain{
  display: flex;
  position: absolute;
  z-index: 5;
}
* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

.logo {
  position: absolute;
  left: -17px;
  top: -20px;
  width: 115px;
  /* height: 100px; */
}
.logoCircle {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background-color: cadetblue;
  border-radius: 50%;
}

/* -------------------------------------------   HOME PAGE   ------------------------------------------------------ */


.mainVideo {
  width: 100%;
  display: flex;
  position: relative;
  /* top: 0; */
  margin-top: -140px;
  margin-bottom: -150px;
  z-index: -5;

}

.videoBox {
  display: flex;
  width: 100%;
  height: 550px;
  /* background-color: rgba(165, 42, 42, 0.151); */
  overflow: hidden;
  position: absolute;
}
.videoBoxBoxDash {
    /* background-color: coral; */
    display: flex;
    width: 100%;
    height: 550px;
    overflow: hidden;
  
}

.dashSection1 {
  height: 50px;
  background-color: rgb(0, 109, 82);
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.dashSection2 {
  min-height: 700px;
  background-color: rgb(255, 249, 240);
  margin-top: -25px;
}
.dashSection3 {
  height: 730px;
  background-color: rgb(255, 198, 112);
  margin-top: -25px;
}

.dashSection3Text {
  font-size: 20px;
  font-family: hind;
  font-weight: 400;
  /* background-color: teal; */
  width: 600px;
  text-align: justify;
}

.section3Going {
  font-size: 22px;
  font-family: helvetica neue;
  font-weight: 300;
}
.section3Covered {
  font-size: 50px;
  font-family: hind;
  /* background-color: hotpink; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3BigBox {
  width: 100%;
  height: 730px;
  /* background-color: darksalmon; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3Headers {
  /* background-color: rgb(14, 180, 14); */
  /* height: 100px; */
}
.section3Content {
  /* background-color: honeydew; */
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dashCheckList{
  list-style: none;
  /* background-color: cadetblue; */
  display: flex;
  align-items: center;

  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  /* background-color: teal; */
}

.dashCheckList > li{
margin-right: 100px;
color: white;
}

.homeTitle {
font-size: 80px;
color: white;
font-family: hind;
}

.homeTitleButton {
  /* background-color: rgb(168, 168, 168); */
  height: 230px;
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  top: 150px;
}

.findRideBtn{
  width: 200px;
  height: 60px;
  margin-bottom: 50px;
  position: absolute;
  top: 180px;
  background-color: rgb(255, 188, 44);
  border: none;
  color: white;
  font-size: 17px;
  font-family: hind;
  border-radius: 5px;
}

.locationsTextAndBar {
  /* background-color: teal; */
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

.locationsText {
font-size: 70px;
font-family: hind;
margin-bottom: 50px;
margin-top: 20px;
color: black;
}


.locationsLine{
  width: 200px;
  height: 3px;
  background-color: black;
  margin-top: 55px;
  position: absolute;
}


.userBtn {
  display: flex;
  width: 75px;
  height: 40px;
  position: absolute;
  right: 85px;
  top: 40px;
  background-color: white;
  border-radius: 25px;
  z-index: 2;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);

}



.hamburgerBtn {
  width: 14px;
  height: 14px;
  /* margin-top: 1px; */
  /* background-color: tomato; */

}
.profilePicImg {
  width: 30px;
  height: 30px;
  margin-right: -5px;
  border-radius: 50%;
  
}

.profilePicColor {
  background-color: rgba(255, 255, 255, 0.308);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
}
.profilePicImg2 {
  width: 30px;
  height: 30px;
  right: 7px;
  border-radius: 50%;
  position: absolute;
}

.loginPopUp {
  background-color: white;
  display: flex;
  position: absolute;
  height: 230px;
  width: 220px;
  right: 85px;
  top: 92px;
  z-index: 1;
  border-radius: 12px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.35);
  flex-direction: column;
  overflow: hidden;
  height: 0px;
  align-items: center;
  transition: all 0.2s;
}

.show {
  height: 260px;
}


.startOfSomethingText {
  font-family: hind;
  font-size: 21px;
  text-align: left;
  line-height: 1.1;
  position: absolute;
  top: 15px;
  left: 15px;
}
.somethingGoodText {
  /* color: rgb(0, 92, 69); */
}



.homeLoginEmail{
position: absolute;
top: 46px;
margin-top: 41px;
height: 40px;
width: 190px;
/* border-bottom: black 1px solid; */
border: 1px solid black;
border-radius: 5px 5px 0px 0px;
margin-bottom: 10px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
z-index: -2;

}

.homeLoginPassword{
  position: absolute;
  top: 120px;
  margin-top: 10px;
  height: 40px;
  width: 190px;
  /* border-bottom: black 1px solid; */
  border: 1px solid black;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 60px;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: -2;

  
}
.homeLoginEmail:focus {
  outline-width: 0;
}
.checkoutInfoEmail:focus {
  outline-width: 0;
}
.checkoutInfoFirstName:focus {
  outline-width: 0;
}
.checkoutInfoPhone:focus {
  outline-width: 0;
}
.checkoutInfoLastName:focus {
  outline-width: 0;
}
.homeLoginPassword:focus {
  outline-width: 0;
}
.authHeaderColor{
background-color: rgb(255, 198, 112);
width: 100%;
height: 70px;
}

.holdsAuthButtons{
/* background-color: coral; */
position: absolute;
bottom: 0;
width: 100%;
height: 50px;
display: flex;
justify-content: space-evenly;
z-index: -1;
}
.homeLoginBtn{
  width: 80px;
  height: 35px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
  background-color: rgb(0, 92, 69);
  color: white;
  font-family: hind;
  
}
.homeSignUpBtn{
width: 80px;
height: 35px;
border: none;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
background-color: rgb(0, 92, 69);
color: white;
font-family: hind;
}



.learnMoreText {
  display: flex;
  position: absolute;
  right: 210px;
  top: 40px;
  color: white;
  width: 100px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 5;

}
.linkHomeText {
  display: flex;
  position: absolute;
  right: 305px;
  top: 40px;
  color: white;
  width: 70px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.linkHomeTextCali {
  display: flex;
  position: absolute;
  right: 280px;
  top: 40px;
  color: white;
  width: 70px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: hind;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.80);

}

.linkHomeTextUtah {
  display: flex;
  position: absolute;
  right: 305px;
  top: 40px;
  color: rgb(61, 61, 61);
  width: 70px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
}
.linkHomeTextCart {
  display: flex;
  position: absolute;
  right: 320px;
  top: 40px;
  color: rgb(61, 61, 61);
  width: 70px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
  z-index: 5;

}
.linkUtahTextCart {
  display: flex;
  position: absolute;
  right: 262px;
  top: 40px;
  color: rgb(61, 61, 61);
  width: 60px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
  z-index: 5;

}
.linkCaliTextCart {
  display: flex;
  position: absolute;
  right: 165px;
  top: 40px;
  color: rgb(61, 61, 61);
  width: 100px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);
  z-index: 5;
}
.linkCali {
  display: flex;
  position: absolute;
  right: 215px;
  top: 40px;
  color: rgb(61, 61, 61);
  width: 95px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.10);

}
.linkUtah {
  display: flex;
  position: absolute;
  right: 220px;
  top: 40px;
  color: white;
  width: 65px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.80);

}

.worldBtn{
  display: flex;
  right: 183px;
  top: 51px;
  width: 20px;
  height: 20px;
  z-index: 5;
}
.cartBtn{
  display: flex;
  right: 183px;
  top: 51px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);

}
.cartBtnUtah{
  display: flex;
  right: 183px;
  top: 51px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);

  /* filter: invert(100%); */
}

.worldDiv {
  display: flex;
  position: absolute;
  right: 173px;
  top: 40px;
  color: white;
  width: 40px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.cartDiv {
  display: flex;
  position: absolute;
  right: 173px;
  top: 40px;
  color: white;
  width: 40px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.cartDivUtah {
  display: flex;
  position: absolute;
  right: 173px;
  top: 40px;
  color: white;
  width: 40px;
  height: 40px;
  /* background-color: teal; */
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}



.userBtn:hover {
  cursor: pointer;
  background-color: rgb(250, 250, 250);
  transition: 250ms;
}
.worldBtn:hover {
  cursor: pointer;
}
.worldDiv:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.cartBtn:hover {
  cursor: pointer;
}
.cartBtnUtah:hover {
  cursor: pointer;
}
.cartDiv:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.cartDivUtah:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}
.learnMoreText:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.learnMoreTextCali:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.linkHomeText:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.linkHomeTextCali:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.learnMoreTextCali:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.linkHomeTextUtah:hover {
  cursor: pointer;
  background-color: rgba(121, 121, 121, 0.15);
}
.linkHomeTextCart:hover {
  cursor: pointer;
  background-color: rgba(121, 121, 121, 0.15);
}
.linkUtahTextCart:hover {
  cursor: pointer;
  background-color: rgba(121, 121, 121, 0.15);
}
.linkCaliTextCart:hover {
  cursor: pointer;
  background-color: rgba(121, 121, 121, 0.15);
}
.linkCali:hover {
  cursor: pointer;
  background-color: rgba(121, 121, 121, 0.15);
}
.linkUtah:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}
.homeLoginBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 122, 92);
}
.homeSignUpBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 122, 92);
}
.homeUtahBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 109, 82);
}
.agreeContinue:hover {
  cursor: pointer;
  background-color: rgb(0, 139, 105);
}
.agreeContinue2:hover {
  cursor: pointer;
  background-color: rgb(0, 139, 105);
}
.plusBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 139, 105);
}
.minusBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 139, 105);
}
.findRideBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 174, 0);
}
.checkoutDeleteBtn:hover {
  cursor: pointer;
  background-color: rgb(255, 187, 42);
}

.holdsAllLocations {
  /* background-color: darkgreen; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.homeLocationImgBox{
  display: flex;
  width: 300px;
  height: 225px;
  /* background-color: tomato; */
  overflow: hidden;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

}
.utahBoxInBox{
  /* background-color: darkgreen; */
  height: 365px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 115px;
}

.locationUtah {
  width: 630px;
  height: 250px;
  /* background-color: teal; */
  border: black 5px solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 15px;
}
.locationCali {
  width: 630px;
  height: 250px;
  /* background-color: teal; */
  border: rgb(37, 37, 37) 5px solid;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  padding: 10px;
  /* margin-left: 10px; */
  margin-right: 10px;
}

.dashLocationsUtahText {
 /* background-color: black; */
 margin-left: 90px;
 margin-top: 20px;
 font-size: 50px;
 font-family: hind;
 height: 30px;
 display: flex;
 align-items: center;
 color: white;
 z-index: 1;
 position: relative;
}
.dashLocationsUtahText2 {
 /* background-color: black; */
 margin-left: 15px;
 margin-top: 20px;
 font-size: 50px;
 font-family: hind;
 height: 30px;
 display: flex;
 align-items: center;
 color: white;
 z-index: 1;
 position: relative;
}

.utahBackgroundColor {
  background-color: black;
  width: 315px;
  height: 60px;
  bottom: 58px;
  left: -328px;
  position: relative;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.dashLocationsUtahInfo {
/* background-color: cornflowerblue; */
margin-right: 20px;
width: 295px;
font-size: 15px;
margin-left: 25px;
margin-top: -50px;
text-align: justify;
font-family: Helvetica;
line-height: 1.6;
font-weight: 500; 
}


.homeUtahBtn{
  border: none;
  width: 250px;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
  background-color: rgb(0, 92, 69);
  color: white;
  font-family: hind;
  /* top: 100px; */
}
.quotationMarks{
  color: rgb(0, 75, 56);
  font-size: 25px;
  position: relative;
  bottom: -105px;
  left: -152px;
  font-family:'Times New Roman', Times, serif;
}
.quotationMarks2{
  color: rgb(0, 75, 56);
  font-size: 25px;
  position: relative;
  bottom: -208px;
  left: -5px;
  font-family:'Times New Roman', Times, serif;
}
/* -------------------------------------   UTAH PAGE    -------------------------------------------------- */

.mainImg {
width: 100vw;
height: 550px;
background: url(https://images.squarespace-cdn.com/content/v1/568429b7c647addb5746fafe/1500238782437-PJY4G82PO1DW1VTDQJB7/ke17ZwdGBToddI8pDm48kKAwwdAfKsTlKsCcElEApLR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UegTYNQkRo-Jk4EWsyBNhwKrKLo5CceA1-Tdpfgyxoog5ck0MD3_q0rY3jFJjjoLbQ/utah-desert-vanlife-dogs-2.jpg?format=2500w) ;
background-position-y: 80%;
background-position-x: center;
background-size: cover;
transform: scaleX(-1);
z-index: -1;
/* background-color: coral; */
}


.mainImgBox {
  display: flex;
  width: 100%;
  height: 550px;
  /* background-color: rgba(165, 42, 42, 0.151); */
  overflow: hidden;
  justify-content: center;
}

.utahText{
  position: absolute;
  font-family: hind;
  color: rgb(61, 61, 61);
  text-shadow: 3px 3px rgba(255, 255, 255, 0.50);
  font-size: 150px;
  top: -46px;
  left: 50px;
  z-index: 2;
}
/* .utahText{
  position: absolute;
  font-family: hind;
  background: -webkit-linear-gradient(90deg, rgba(36,32,33,1) 10%, rgba(80,49,46,1) 35%, rgba(226,33,28,1) 50%, rgba(237,116,35,1) 65%, rgba(251,196,36,1) 75%); */
  /* color: rgb(255, 198, 112); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* text-shadow: 3px 3px white; */
  /* font-size: 150px;
  top: -46px;
  left: 50px;
  z-index: 2;
} */

.utahText2{
  position: absolute;
  font-family: hind;
  color: black;
  font-size: 150px;
  top: -48px;
  left: 53px;
}



.utahSection1 {
  height: 50px;
  background-color: rgb(0, 109, 82);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */

}



.mappedUtahVans {
  display: flex;
  /* background-color: teal; */
  flex-direction: column;
  width: 23vw;
  /* width: 310px; */
  height: 340px;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  margin-left: 20px;
  margin-bottom: 50px;
  /* border: 2px solid black; */
}
.mappedUtahVansLoggedIn {
  display: flex;
  /* background-color: firebrick; */
  flex-direction: column;
  width: 23vw;
  /* width: 310px; */
  height: 390px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 20px;
}
.mappedUtahNonVans {
  display: flex;
  /* background-color: teal; */
  flex-direction: column;
  width: 24.7vw;
  height: 310px;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}
.mappedUtahNonVans2 {
  display: flex;
  /* background-color: firebrick; */
  flex-direction: column;
  width: 24.7vw;
  height: 360px;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.mappedImageBox {
  /* background-color: tomato; */
  width: 280px;
  height: 160px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: -20px;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3); */

}
.mappedImageBox5 {
  /* background-color: tomato; */
  width: 280px;
  height: 160px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: -75px;

}

.mappedImageBox4 {
  /* background-color: tomato; */
  width: 280px;
  height: 160px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-top: -20px;

}
.mappedImageBox3 {
  /* background-color: tomato; */
  width: 280px;
  height: 160px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

}
.mappedImageBox2 {
  /* background-color: tomato; */
  width: 300px;
  /* height: 160px; */
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin-left: 20px;

}
.mappedUtahInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: violet; */
  width: 260px;
  margin-top: 20px;
}
.mappedUtahInfo2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: violet; */
  width: 260px;
}

.mappedDesc {
  font-family: hind;
  font-weight: 500;
  color: rgb(96, 107, 118);

}
.mappedDesc3 {
  font-family: hind;
  font-size: 17px;
  font-weight: 500;
  color: rgb(96, 107, 118);

}
.mappedDesc2 {
  font-family: hind;
  font-weight: 500;
  color: black;

}
.mappedTitle {
  font-family: Open Sans;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;

}
.mappedTitle3 {
  font-family: Open Sans;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
  font-size: 19px;

}
.mappedTitle2 {
  font-family: Open Sans;
  font-weight: 600;
  text-align: left;
  /* background-color: darkorange; */
  width: 150px;
  /* margin-top: -10px; */
  /* margin-top: 10px; */

}
.mappedCapacity {
  font-family: Open Sans;
  font-weight: 400;

}
.mappedCapacity2 {
  font-family: Open Sans;
  font-weight: 400;

}
.mappedPrice {
  font-family: Open Sans;
  font-weight: 400;
}
.mappedPrice3 {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
}
.mappedRating {
  font-family: Open Sans;
  font-weight: 400;

}
.priceRatingBox {
  /* background-color: yellow; */
  font-family: Open Sans;
  font-weight: 400;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.reserveBtn {
  width: 280px;
  height: 30px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
  background-color: rgb(61, 61, 61);
  color: white;
  font-family: Open Sans;
  margin-top: 15px;
  margin-bottom: 15px;
}

.reserveBtn2 {
  width: 310px;
  height: 30px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
  background-color: rgb(61, 61, 61);
  color: white;
  font-family: Open Sans;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 25px;
}
.reserveBtn:hover {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  
}
.reserveBtn2:hover {
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  
}

.allMappedVans{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 249, 240);
  flex-wrap: wrap;
}
.allMappedNonVans{
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 249, 240);
  flex-wrap: wrap;
}

/* -------------------------------------   Cali PAGE    -------------------------------------------------- */

.mainCaliImg {
width: 100vw;
height: 550px;
background: url(https://southernchronicles.icebreaker.com/wp-content/uploads/2017/04/TF-Journal-Barkman-Vanlife-Profile-6.jpg) ;
background-position-y: 80%;
background-position-x: center;
background-size: cover;
transform: scaleX(-1);
z-index: -1;
/* background-color: coral; */
}
.caliText{
  position: absolute;
  font-family: hind;
  color: rgb(230, 230, 230);
  text-shadow: 3px 3px rgb(0, 0, 0);
  font-size: 150px;
  top: -46px;
  left: 50px;
  z-index: 2;
}
.caliSubText{
  position: absolute;
  font-family: hind;
  color: rgb(230, 230, 230);
  text-shadow: 3px 3px rgb(0, 0, 0);
  font-size: 25px;
  top: 150px;
  left: 70px;
  z-index: 2;
  text-align: left;
}
.utahSubText{
  position: absolute;
  font-family: hind;
  color: rgb(61, 61, 61);
  text-shadow: 2px 2px rgba(255, 255, 255, 0.5);
  font-size: 25px;
  top: 150px;
  left: 60px;
  z-index: 2;
  text-align: left;
}
/* 
.caliText{
  position: absolute;
  font-family: hind;
  background: -webkit-linear-gradient(90deg, rgba(125,49,0,1) 0%, rgba(191,96,18,1) 24%, rgba(255,186,0,1) 90%); */
  /* color: rgb(255, 198, 112); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* text-shadow: 3px 3px white; */
  /* font-size: 150px;
  top: -46px;
  left: 50px;
  z-index: 2;
} */
.caliText2{
  position: absolute;
  font-family: hind;
  color: black;
  font-size: 150px;
  top: -48px;
  left: 53px;
}

.caliSection1 {
  height: 50px;
  background-color: rgb(0, 109, 82);
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 20px; */

  
}



/* -------------------------------------------   CHECKOUT PAGE   ------------------------------------------------------ */

.checkoutOrderInfo {
  background-color: white;
  height: 150px;
  width: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px black solid;
  right: 0;
  margin-bottom: 20px;
  margin-right: -15px;
  float: right;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.checkoutOrderImg{


  display: flex;
  width: 200px;
  /* height: 225px; */
  /* background-color: tomato; */
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  
}

.checkoutOrderImgBox{
  width: 160px;
  height: 110px;
  overflow: hidden;
  /* background-color: yellow; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  display: flex;
  top: 0;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.checkoutAllVanInfo {
  display: flex;
  flex-direction: row;
  height: 110px;
  width: 440px;
  /* background-color: rgb(138, 255, 71); */
  justify-content: space-between;
  margin-top: -20px;
  z-index: 5;
}
.checkoutVanInfo {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 270px;
  /* background-color: tomato; */
  text-align: left;
}


/* .checkoutColor {
  background-color: rgb(112, 255, 172);
  width: 50vw;
  height: 1000px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  margin-top: -122px;
} */

.testtest {
  background-color: white;
  /* border: 3px solid black; */
  width: 90%;
  height: 100%;
  min-height: 170px;
  float: right;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  margin-right: 40px;
  margin-top: 140px;
  overflow: hidden;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
}
.testtest2 {
  /* background-color: white; */
  width: 40vw;
  min-height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}
.checkoutDeleteBtn{
  border: none;
  position: absolute;
  margin-top: 75px;
  margin-left: 85px;
  width: 100px;
  height: 30px;
  background-color: rgb(255, 198, 112);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-family: Open Sans;
  color: black;
}
.checkoutDates {
  background-color: rgb(61, 61, 61);
  height: 22px;
  width: 454px;
  position: absolute;
  margin-bottom: -130px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: hind;
}
.checkoutDatesStart {
  /* background-color: orange; */
  margin-left: 10px;
}
.checkoutDatesArrow {
  /* background-color:skyblue; */
  
}
.checkoutDatesEnd {
  /* background-color: lightpink; */
  margin-right: 10px;

}
.checkoutInfoBox {
  background-color: white;
  /* border: 3px solid black; */
  position: relative;
  left: 50px;
  top: 135px;
  /* height: 450px; */
  width: 750px;
  text-align: left;
  z-index: 4;
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
  height: 75px;
  transition: all 0.2s;
  overflow: hidden;
}
.checkoutPayBox {
  background-color: white;
  /* border: 3px solid black; */
  position: relative;
  left: 50px;
  top: 150px;
  /* height: 450px; */
  width: 750px;
  text-align: left;
  z-index: 4;
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
  height: 75px;
  transition: all 0.2s;
  overflow: hidden;
}

.startBookingAndPayment {
  position: absolute;
  left: -850px;
  top: 50px;
}

.oneMore {
  font-family: hind;
  font-size: 40px;
  position: absolute;
  left: 25px;
  top: 15px;
  font-weight: 300;
}


/* -------------------------------------------  CHECKOUT INFO  -------------------------------------------------------- */

.checkoutInfoNameStart{
   /* background-color: cornflowerblue; */
   font-family: hind;
   height: 75px;
   font-size: 35px;
   margin-left: 10px;

}
.checkoutInfoNameText {
  /* background-color: rgb(80, 255, 168); */
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;

}
.checkoutInfoNameBox {
  /* background-color: coral; */
  height: 80px;
  margin-left: 10px;
  

}
.checkoutInfoEmailBox {
  /* background-color: darkgrey; */
  height: 90px;
  width: 50%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;

}
.checkoutInfoPhoneBox {
  /* background-color: hotpink; */
  height: 100px;
  width: 50%;
  margin-left: 10px;
    margin-top: 10px;


}
.checkoutInfoLegal {
  /* background-color: thistle; */
  height: 100px;
  margin-left: 10px;


}
.checkoutInfoEmailAndPhone {
  /* background-color: rgb(73, 86, 201); */
  display: flex;
  height: 100px;
}

.happyCamperBox{
  /* background-color: rgb(95, 160, 106); */
  width: 650px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 20px;
  justify-content: space-evenly;
  
}

.happyCamperStuff {
  /* background-color: chartreuse; */
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.checkoutTextCamper {
  /* background-color: crimson; */
}

.checkoutLogo {
/* background-color: cornflowerblue; */
}

.checkoutTextStars {
  /* background-color: darkseagreen; */
  font-weight: 400;
}

.checkoutInfoEmail {
  /* position: absolute; */
height: 40px;
width: 345px;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px 5px 5px 5px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 400;

}
.checkoutInfoFirstName {
  /* position: absolute; */
height: 40px;
width: 160px;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px 5px 5px 5px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 400;
}
.checkoutInfoLastName {
  /* position: absolute; */
height: 40px;
width: 160px;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px 5px 5px 5px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
font-weight: 400;
margin-left: 15px;
}
.checkoutInfoPhone {
  /* position: absolute; */
height: 40px;
width: 190px;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px 5px 5px 5px;
box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: 400;
}
.checkoutInfoNameStart {
  font-family: hind;
  font-weight: 500;
}
.checkoutInfoNameText {
  font-family: hind;
  font-weight: 400;
}
.checkoutInfoEmailText {
  font-family: hind;
  font-weight: 400;
}
.checkoutInfoPhoneText {
  font-family: hind;
  font-weight: 400;
}


.backgroundColor {
  background-color: rgb(61, 61, 61);
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  z-index: -6;
}
.backgroundColor2 {
  background-color: rgb(255, 198, 112);
  width: 250vw;
  min-height: 700px;
  overflow-x: hidden;
  position: absolute;
  right: -50px;
  z-index: -6;
  transform: rotate(160deg);
  margin-top: 50px;
}

.checkAndLegal {
  /* background-color: lightpink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  margin-left: 5px;
  margin-top: 15px;

}
.textCertify {
  /* background-color: forestgreen; */
  margin-left: 10px;
  width: 700px;
  font-size: 14px;
}
.textByClicking {
  margin-left: 10px;
  /* background-color: yellowgreen; */
  width: 70%;
  /* height: 80px; */
  color: rgb(0, 75, 56);
  position: absolute;
  font-size: 12px;
  margin-top: 15px;

}
.textByClicking2 {
  margin-top: 230px;
  margin-left: 10px;
  position: absolute;
  font-size: 12px;
  /* background-color: yellowgreen; */
  width: 70%;
  /* height: 80px; */
  color: rgb(0, 75, 56);
}

.agreeContinue {
  border: none;
  background-color: rgb(0, 112, 84);
  color: white;
  font-size: 18px;
  font-family: hind;
  font-weight: 600;
  height: 60px;
  width: 180px;
  float: right;
  margin-top: -50px;
  margin-right: 25px;
  box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3);
}
.agreeContinue2 {
  border: none;
  background-color: rgb(0, 112, 84);
  color: white;
  font-size: 18px;
  font-family: hind;
  font-weight: 600;
  height: 60px;
  width: 180px;
  float: right;
  margin-top: -15px;
  margin-right: 25px;
  box-shadow:  3px 3px 5px rgba(0, 0, 0, 0.3);
}
/* -------------------------------------------    CHECKOUT PAYMENT    ----------------------------------------------------------- */
.checkoutPayTitle {
  background-color: cornflowerblue;
  /* font-family: hind; */
  height: 75px;
  font-size: 35px;
  margin-left: 10px;
  font-weight: 100;
}
.totalInfoBox {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-top: -5px;
  height: 170px;
}
.paymentTotalDays {
  /* background-color:teal; */
  font-family: hind;
  font-size: 22;
  font-weight: 200;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;
}
.paymentPerDay {
  /* background-color: darkseagreen; */
  font-family: hind;
  font-size: 22;
  font-weight: 200;
  width: 200px;
  height: 30px;
  display: flex;
  align-items: center;

}
.paymentTotalPreTax {
  /* background-color:deepskyblue; */
  font-family: hind;
  font-size: 22;
  font-weight: 200;
  height: 30px;
  display: flex;
  align-items: center;
}
.paymentTax {
  /* background-color: darksalmon; */
  font-family: hind;
  font-size: 22;
  font-weight: 200;
  height: 30px;
  display: flex;
  align-items: center;
}

.paymentTotal {
  /* background-color:lavender; */
  font-family: hind;
  font-size: 22;
  font-weight: 200;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.daysNum{
  /* background-color: lawngreen; */
  font-family: hind;
  font-weight: 500;
  font-size: 23px;
  color: rgb(0, 102, 0);
  margin-left: 5px;
}

.daysAndPrice {
  /* background-color: lightcoral; */
  display: flex;
}

.lineAboveTitle {
  height: 1px;
  width: 97%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
.lineAboveTitle2 {
  height: 1px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 143px;
  top: 87px;
}


/* -------------------------------------------    FOOTER    ----------------------------------------------------------- */
.footerBox {
  background-color: rgb(37, 37, 37);
  width: 100%;
  height: 70px;
}
.testButton {
  position: absolute;
  left: 90%;
  top: 50%;
  z-index: 7;
}

.showTest {
  height: 400px;
}
.show2 {
  height: 300px;
}
.show3 {
  height: 450px;
}
.roadImg{
  position: absolute;
  transform: rotate(135deg);
  width: 70%;
  margin-top: 150px;
}
.roadPicBox{
  position: absolute;
  overflow: hidden;
  /* background-color: teal; */
  width: 600px;
  height: 300px;
  transform: rotate(180deg);
  left: 0;
  margin-top: -155px;
}
.allMappedNonVans {
  background-color: rgb(255, 198, 112);
  min-height: 50px;
  /* padding-top: 150px; */
}

.addSomething {
  font-family: hind;
  font-size: 40px;
  position: absolute;
  margin-left: 150px;
  margin-top: 150px;
}

.minusBtn {
border: none;
width: 25px;
height: 25px;
font-size: 20px;
background-color: rgb(0, 109, 82);
/* position: absolute; */
color: white;
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.plusBtn {
  border: none;
  width: 25px;
  height: 25px;
  font-size: 20px;
  background-color: rgb(0, 109, 82);
  /* position: absolute; */
  color: white;
  /* margin-left: 100px; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.qtyBox {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  width: 110px;
  height: 60px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 160px;
  /* margin-top: -65px; */
  position: absolute;
}

.qtyBtnsBox {
  /* background-color: teal; */
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}

.qtyText {
  font-family: hind;
}


.moreOptions {
  /* background-color: seagreen; */
  font-size: 50px;
  font-family: hind;
  font-weight: 600;
  height: 70px;
  width: 500px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  /* margin-top: -15px; */
}
.moreOptionsBox {
  /* background-color: salmon; */
  width: 100%;
  height: 100px;
  position: absolute;
  /* margin-top: 30px; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}


.pleaseLogin {
  /* background-color: firebrick; */
  margin-top: 3px;
  font-family: hind;
  font-weight: 100;
}
.pleaseLoginBox {
  /* background-color: fuchsia; */
  position: absolute;
  width: 250px;
  height: 25px;
  margin-top: 40px;
  margin-left: 2px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pleaseLoginBox2 {
  /* background-color: fuchsia; */
  position: absolute;
  width: 250px;
  height: 25px;
  margin-top: 200px;
  margin-left: 2px;
  border: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fillerSection {
  background-color: rgb(255, 249, 240);
  width: 100%;
  height: 40px;
}

/* -----------------------------------   RESPONSIVENESS  ------------------------------------------- */
/* -----------------------------------   Home Page  ------------------------------------------- */


@media (min-width: 1500px){

  .mainVideo {
    /* width: 250%; */
    display: flex;
    position: absolute;
    height: 210%;
    margin-top: -200px;
    /* background-color: cadetblue; */
    right: 0;
  }
  
  
}
@media (max-width: 1420px){

  
  .dashCheckList > li{
    margin-right: 40px;
    color: white;
    }
}
@media (max-width: 1200px){

  .dashCheckList{
    list-style: none;
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
  
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    /* background-color: teal; */
  }

  
  .dashCheckList > li{
    margin-right: 30px;
    color: white;
    }

  
}

@media (max-width: 1100px){


  .mainVideo {
    width: 150%;
    display: flex;
    position: absolute;
    margin-right: -200px;
    /* background-color: cadetblue; */
    right: 0;
  }
  
  
  .videoBox {
    /* display: flex; */
    width: 100%;
    /* margin-left: -100px; */
    /* height: 550px; */
    overflow: hidden;
    /* background-color: pink;  */
  }

  .homeTitle {
    font-size: 70px;
    font-family: hind;
    margin-top: -80px;
    line-height: 1;
    margin-left: 20px;
    margin-right: 20px;
  }


}

@media (max-width: 1020px){

  .dashCheckList > li{
    margin-right: 15px;
    color: white;
    }

    .dashCheckList{
      list-style: none;
      /* background-color: cadetblue; */
      display: flex;
      align-items: center;
    
      font-size: 15px;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      /* background-color: teal; */
    }
  


}

@media (max-width: 920px){

  .dashCheckList > li{
    margin-right: 10px;
    color: white;
    }

    .dashCheckList{
      list-style: none;
      /* background-color: cadetblue; */
      display: flex;
      align-items: center;
    
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
      position: absolute;
      /* background-color: teal; */
    }
  


}
@media (max-width: 800px){

  .dashCheckList > li{
    display: none;
    }

    .dashCheckList{
      display: none;
    }
  


}


@media (max-width: 700px){

  
  
  
  .mainVideo {
    width: 180%;
    display: flex;
    position: absolute;
    margin-right: -150px;
    /* background-color: cadetblue; */
    right: 0;
  }


}

@media (max-width: 600px){

  
  .videoBox {
    /* display: flex; */
    width: 100%;
    /* margin-left: -100px; */
    /* height: 550px; */
    overflow: hidden;
    /* background-color: rgb(61, 61, 61);  */
    width: 100vw;
    height: 550px;
    background: url(https://images.unsplash.com/photo-1494822493217-c9840aba840c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80) ;
    background-position-y: 80%;
    background-position-x: center;
    background-size: cover;
  };


}
@media (max-width: 750px){

  .utahBackgroundColor {
    background-color: black;
    width: 315px;
    height: 60px;
    position: relative;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.4);
    margin-left: 621px;
    z-index: 0;
  }
  .locationUtah {
    width: 325px;
    height: 250px;
    /* background-color: teal; */
    border: black 5px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 15px;
  }
  .homeLocationImgBox{
    display: none;
  
  }
  .locationCali {
    width: 325px;
    height: 250px;
    /* background-color: teal; */
    border: black 5px solid;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    /* border-radius: 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 15px;
  }
  .homeLocationImgBox{
    display: none;
  
  }
  .locationsTextAndBar {
    /* background-color: teal; */
    margin-top: 25px;
    margin-left: -20px;
    margin-bottom: 50px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

.dashCheckList{
  display: none;
}

.section3Going {
  font-size: 18px;
  font-family: helvetica neue;
  font-weight: 300;
}
.section3Covered {
  font-size: 40px;
  font-family: hind;
  /* background-color: hotpink; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashSection3Text {
  font-size: 18px;
  font-family: hind;
  font-weight: 400;
  /* background-color: teal; */
  width: 500px;
  text-align: justify;
}


  
  /* .utahBoxInBox{
    background-color: darkgreen;
    height: 365px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 115px;
  }
   */
  /* .dashLocationsUtahInfo {
  background-color: cornflowerblue;
  margin-right: 20px;
  width: 295px;
  font-size: 15px;
  margin-left: 25px;
  margin-top: -50px;
  text-align: justify;
  font-family: Helvetica;
  line-height: 1.6;
  font-weight: 500; 
  } */


}
@media (max-width: 650px){


  .dashSection3Text {
    font-size: 17px;
    font-family: hind;
    font-weight: 400;
    /* background-color: teal; */
    width: 400px;
    text-align: justify;
    /* margin-left: 40px; */
  }
  
  .section3Going {
    display: none;
  }
  .section3Covered {
    margin-left: -10px;
  }

  .roadPicBox{
    position: absolute;
    overflow: hidden;
    /* background-color: teal; */
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
    left: 0;
    margin-top: -155px;
  }
  
  .roadImg{
    position: absolute;
    transform: rotate(135deg);
    width: 100%;
    margin-top: 200px;
    margin-left: -50px;
  }

  .learnMoreText {
    display: none;
  }
  .worldBtn{
    display: none;
  }
  .findRideBtn{
    display: none;
  }
  .homeTitle {
    font-size: 70px;
    font-family: hind;
    margin-top: 80px;
    line-height: 1;
    margin-left: 20px;
    margin-right: 20px;
  }
   
  

}

/* -----------------------------------   Home Page DONE  ------------------------------------------- */
/* -----------------------------------   Utah Page  ------------------------------------------- */

@media (max-width: 1250px){
  
  .mappedUtahVans {
    /* background-color: teal; */
    width: 30vw;
  }
  .mappedUtahVansLoggedIn {
    /* background-color: teal; */
    width: 30vw;
  }
  .mappedUtahNonVans {
    /* background-color: teal; */
    width: 30vw;
  }
  .mappedUtahNonVans2 {
    /* background-color: teal; */
    width: 30vw;
    margin-right: 25px;
    
  }
  
  
  
}

@media (max-width: 950px){
  
  .mappedUtahVans {
    /* background-color: rgb(151, 216, 46); */
    width: 35vw;
    margin-left: 80px;
  }
  .mappedUtahVansLoggedIn {
    /* background-color: rgb(151, 216, 46); */
    width: 35vw;
    margin-left: 80px;
  }
  .mappedUtahNonVans {
    /* background-color: rgb(151, 216, 46); */
    width: 35vw;
    margin-left: 80px;
  }
  .mappedUtahNonVans2 {
    /* background-color: rgb(151, 216, 46); */
    width: 35vw;
    margin-left: 80px;
  }
  @media (max-width: 800px){
    
    .mappedUtahVans {
      /* background-color: rgb(125, 46, 216); */
      width: 35vw;
      margin-left: 60px;
    }
    .mappedUtahVansLoggedIn {
      /* background-color: rgb(125, 46, 216); */
      width: 35vw;
      margin-left: 60px;
      height: 100%;
      /* background-color: firebrick; */
      
    }
    .mappedUtahNonVans {
      /* background-color: rgb(125, 46, 216); */
      width: 35vw;
      margin-left: 60px;
    }
    .mappedUtahNonVans2 {
      /* background-color: rgb(125, 46, 216); */
      width: 35vw;
      height: 100%;
      margin-left: 60px;
      
    }
    .reserveBtn2 {
      width: 230px;
      margin-left: 0px;
    }
  }
  @media (max-width: 750px){
    
    .loginPopUp {
      right: 15px;
    }
    
    .userBtn {
      right: 20px;
    }
    .linkHomeTextUtah {
      right: 160px;
    }
    .linkHomeTextCali {
      right: 95px;
    }
    .linkCali {
      display: none;
    }
    .cartDivUtah {
      right: 115px;
      
    }
    
    .utahText{
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px rgba(85, 85, 85, 0.5);
      /* margin-left: -55px; */
      left: 30%;
      margin-top: 150px;
      z-index: 0;
    }
    .mainImg {
      width: 100vw;
      height: 550px;
      background: url(https://images.unsplash.com/photo-1617635876978-25c1261a39ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ;
      background-position-y: 80%;
      background-position-x: center;
      background-size: cover;
      z-index: -1;
    }
    
    /* .utahSubText{
      display: none;
    } */
    .utahSubText{
      color: rgb(255, 198, 112);
      text-shadow: 3px 3px rgba(85, 85, 85, 0.5);
      top: 38%;
      left: 30%;
      z-index: 0;

    }
    .mappedUtahNonVans {
      margin-right: 20%;
      margin-bottom: 100px;
      /* background-color: firebrick; */
      margin-top: -10px;
      
    }
    .mappedUtahNonVans2 {
      margin-right: 20%;
      margin-bottom: 100px;
      /* background-color: firebrick; */
      margin-top: -10px;
    }
    .allMappedNonVans {
      background-color: rgb(255, 198, 112);
      padding-top: 175px;
      /* padding-top: 150px; */
      
    }
    .moreOptionsBox {
      /* background-color: salmon; */
      margin-top: -180px;
    }
    
    
  }
  
  
  @media (max-width: 650px){
    
    .userBtn {
      right: 30px;
    }
    .linkHomeTextUtah {
      right: 150px;
    }
    .linkCali {
      display: none;
    }
    
    .mappedUtahVans {
      width: 400px;
      margin-left: 10%;
    }
    .mappedUtahVansLoggedIn {
      width: 400px;
      margin-left: 10%;
    }
    .mappedUtahNonVans {
      width: 400px;
      margin-left: 10%;
      /* background-color: firebrick; */
      margin-top: 30px;
      height: 100%;
    }
    .mappedUtahNonVans2 {
      width: 400px;
      margin-left: 10%;
      /* background-color: firebrick; */
      margin-top: -10px;
    }
    .allMappedNonVans {
      background-color: rgb(255, 198, 112);
      padding-top: 175px;
      /* padding-top: 150px; */
    }
    .moreOptionsBox {
      /* background-color: salmon; */
      margin-top: -180px;
    }

    .mainImgBox {
      display: flex;
      width: 100%;
      height: 550px;
      /* background-color: rgba(165, 42, 42, 0.151); */
      overflow: hidden;
      justify-content: center;
    }
    
    .utahText {
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px rgba(85, 85, 85, 0.5);
      /* margin-left: -55px; */
      left: 20%;
      margin-top: 150px;
      z-index: 0;
    }
    .utahSubText{
      color: rgb(255, 198, 112);
      text-shadow: 3px 3px rgba(85, 85, 85, 0.5);
      top: 40%;
      left: 20%;
      z-index: 0;
    }
    
  }
}
/* -----------------------------------   UTAH DONE  ------------------------------------------- */
/* -----------------------------------   CALI Page  ------------------------------------------- */

@media(max-width: 1100px) {
  .caliText{
    position: absolute;
    font-family: hind;
    color: rgb(230, 230, 230);
    text-shadow: 3px 3px rgb(0, 0, 0);
    font-size: 110px;
    top: 60px;
    left: 5%;
    z-index: 2;
    /* background-color: firebrick; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

  }
  .caliSubText {
    z-index: 0;

  }

  
}
@media(max-width: 850px) {
  .linkUtah{
    display: none;
  }
  .linkHomeTextCali {
    right: 210px;
  }


}
@media(max-width: 800px) {
  .linkUtah{
    display: none;
  }
  .linkHomeTextCali {
    right: 30px;
    top: 80px;
  }
  .cartDiv {
    right: 30px;
    top: 40px;
  }


}
@media(max-width: 750px) {
  .linkUtah{
    display: none;
  }
  .linkHomeTextCali {
    right: 150px;
    top: 40px;
  }
  .cartDiv {
    right: 110px;
    top: 40px;
  }

  .mainImg {
    width: 100vw;
    height: 550px;
    background: url(https://images.unsplash.com/photo-1617635876978-25c1261a39ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80) ;
    background-position-y: 80%;
    background-position-x: center;
    background-size: cover;
  }

  .mainCaliImg {
    width: 100vw;
    height: 550px;
    background: url(https://images.unsplash.com/photo-1456693906521-44e96e49e85f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) ;
    background-position-y: 80%;
    background-position-x: center;
    background-size: cover;
    /* transform: scaleX(1); */
    /* z-index: -1; */
    /* background-color: coral; */
    }

    .caliText {
      top: 200px;
      left: 15%;
      text-shadow: 5px 5px 5px black;
    }
    .caliSubText {
      top: 300px;
      left: 18%;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);

    }

}
@media(max-width: 620px) {
  .caliText {
    font-size: 90px;
    top: 200px;
    left: 10%;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
  }
  .caliSubText {
    top: 300px;
    left: 8%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.95);

  }
}
